.roadmap {
  position: relative;

  .edgeRows{
    margin: 80px 0px;
    // @media screen and (max-width: 991px) {
    //   margin: 60px 0px;
    // }
    @media screen and (max-width: 767.9px) {
        margin: 60px 0px;
    }
  }
  .mobileBannerone{
    text-align: center;
  }
  .row {
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 575.9px) {
      gap: 2rem;
      
    }

    h1{
      font-size: 2.4rem;
      line-height: 3.5rem;
    }
    
    p{
      font-size: 1.4rem;
      line-height: 2rem;
    }

    .contentNoBackground {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      position: relative;
      z-index: 2;

      @media screen and (max-width: 575.9px) {
        text-align: center;
        row-gap: 1rem;
      }

      >div{
        @media screen and (max-width: 767.9px) {
          flex-direction: column-reverse;
          gap: 0px;
        }
      }

      .travelBag {
        width: 22%;
        height: auto;
        @media screen and (max-width: 575.9px) {
          display: none; 
        }
      }


    }

    .content {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      background-color: #ffffff;
      position: relative;
      z-index: 2;

      
      @media screen and (max-width: 575.9px) {
        text-align: center;
        row-gap: 1rem;
      }
    }

    .banner {
      height: auto;
      width: 100%;
      
      &.addShadow{
        box-shadow: 0px 16px 37px -13px rgba(24, 39, 75, 0.12), 0px 25px 87px -8px rgba(24, 39, 75, 0.12);
      border-radius: 40px;
      @media screen and (max-width: 575.9px) {
       width: 70%;
      //  display: flex;
      //  align-items: center;
      }
      }
    }

  }

  .pathSvg {
    position: absolute;
    top: 14%;
    left: 13%;
    width: 51%;
    height: auto;
    z-index: 1;
    @media screen and (max-width: 991.9px) {
      left: 14%;

    }
    @media screen and (max-width: 767.9px) {
      display: none;
    }
  }

  .airplane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @media screen and (max-width: 767.9px) {
      display: none;
    }

    img {
      width: 70px;
      height: auto;
      @media screen and (max-width: 991.9px) {
        width: 50px;
      }
      @media screen and (max-width: 767.9px) {
        display: none;
      }
    }
  }
}