.main {
    padding-top: 9.75rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;

    .subContainer {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @media screen and (max-width : 768px) {
            align-items: center;
            text-align: center;
        }

        .stack {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;

            @media screen and (max-width : 600px) {
                flex-direction: column;
            }

            .labelStack {
                display: flex;
                align-items: center;
                column-gap: 1rem;
                flex-wrap: wrap;

                .label {
                    font-size: 0.875rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.375rem;
                    background-color: var(--success-light);
                    color: var(--success);
                    border: 1px solid #30653b;
                }
            }
        }


    }

}