.roadmap {
  .row {
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767.9px) {
      margin-bottom: 2rem;
    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      @media screen and (max-width: 575.9px) {
        text-align: center;
      }
    }
    .banner{
      height: auto;
        width: 100%;
    }
  }
}
