:root {
  --background: #ffffff;
  --foreground: #000000;
  --info: #4b4b4b;
  --info-dark: #1f1f1f;
  --primary: #dff7ff;
  --warning: #fff5cd;
  --light: #fafafa;
  --success: #86c68a;
  --success-dark: #69b56d;
  --success-light: #e0fbe7;
  --border-light: #eeeeee;
}

html {
  font-size: 100%;

  @media screen and (max-width: 1620px) {
    font-size: 85%;
  }

  @media screen and (max-width: 1440px) {
    font-size: 75%;
  }

  @media screen and (max-width: 1200px) {
    font-size: 65%;
  }

  // @media screen and (max-width: 992px) {
  //   font-size: 52%;
  // }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*-------------- CONTAINER --------------*/
.container {
  @media (min-width: 1620px) {
    max-width: 1550px;
  }

  @media (max-width: 576px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container-fluid {
  padding-left: 3%;
  padding-right: 3%;

  @media screen and (max-width:991px){
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
  }
}

/*-------------- CONTAINER --------------*/
/*-------------- VARIABLE CLASSES --------------*/
.title64 {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 600;
  color: var(--info-dark);
}

.title48Div {
  display: flex;
  gap: 30px;
}

.title48 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 600;
  color: var(--info-dark);
}

.title28 {
  font-size: 1.75rem;
  line-height: 2.675rem;
  font-weight: 600;
  color: var(--foreground);
}

.title26 {
  font-size: 1.575rem;
  line-height: 2.375rem;
  font-weight: 600;
  color: var(--foreground);
}

.title24 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--info-dark);

  @media screen and (max-width: 1440px) {
    font-size: 1.75rem;
  }
}

.desc28 {
  font-size: 1.75rem;
  line-height: 2.675rem;
  font-weight: 400;
  color: var(--info-dark);
}

.desc24 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  color: var(--info);
}

.desc21 {
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--info);
}

.desc16 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--info);

  @media screen and (max-width: 1440px) {
    font-size: 1.25rem;
    line-height: normal;
  }

  @media screen and (max-width: 1024px) {
    font-size: 1.275rem;
  }
}

/*-------------- VARIABLE CLASSES --------------*/

/*-------------- NAVBAR --------------*/
.navbar {
  position: fixed;
  width: 100%;
  background: var(--background);
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 3;

  .container-fluid {
    .navbar-brand {
      font-size: 40px;
      line-height: 40px;
      font-weight: 500;
      // line-height: 140%;
      color: var(--foreground);
      padding: 0;
    }

    .navbar-nav {
      margin: 0 auto;

      @media screen and (max-width: 991.9px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        row-gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .nav-link {
        font-size: 1.75rem;
        font-weight: 500;
        color: var(--info-dark);
        padding: 0 1rem;

        &:hover {
          color: var(--success-dark);
        }

        @media screen and (max-width: 991.9px) {
          font-size: 3.75rem;
          font-weight: 600;
        }
      }

      .nav-link.active {
        color: var(--success-dark);
      }
    }

    .app-navbar-btn {
      @media screen and (max-width: 991.9px) {
        margin: 0 auto;
      }
    }

    .navbar-collapse {
      @media screen and (max-width: 991.9px) {
        // min-height: auto;
        // height: 100%;
        height: calc(100vh - 76.5px);
        min-height: calc(100vh - 76.5px);
        max-height: calc(100vh - 76.5px);
        width: 100%;
        background: var(--background);
        // position: relative;
        // top: 76.5px;
        // left: 0px;
        z-index: 3;
      }
    }

    .navbar-toggler {
      margin-right: 0px !important;
      &:focus,
      &:active {
        outline: none !important;
        box-shadow: none !important;
      }

      .hamburger {
        font-size: 30px;
        color: black;
      }
    }
  }
}

/*-------------- NAVBAR --------------*/
/*-------------- MODAL --------------*/
.modal-open{
  padding: 0px !important
}
.modal {
  padding-right: 0px !important;

  .modal-dialog {
    width: 690px;
    max-width: 690px;

    @media screen and (max-width: 767.9px) {
      width: 90%;
    }

    @media screen and (max-width: 576px) {
      width: 95%;
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    .modal-content {
      border-radius: 1.5rem;

      .modal-header {
        border-bottom: none;
        padding: 20px;

        .btn-close {
          font-size: 20px;
          color: var(--foreground);
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
        padding: 1rem 6.25rem 3.75rem;

        @media screen and (max-width: 576px) {
          padding: 0 8% 8%;
        }

        .modal-img {
          height: auto;
          width: 100px;
          object-fit: contain;
          margin-bottom: 12px;

          @media screen and (max-width: 767.9px) {
            font-size: 26px;
          }
        }

        .modal-title-stack {
          text-align: center;

          h1 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 8px;

            @media screen and (max-width: 767.9px) {
              font-size: 26px;
            }
          }

          p {
            font-size: 18px;
            font-weight: 400;
            color: var(--info);

            @media screen and (max-width: 767.9px) {
              font-size: 14px;
            }
          }
        }

        .modal-btn {
          height: 58px;
          border-radius: 0.675rem;
          font-size: 24px;
          min-width: 187px;
          margin-top: 44px;

          @media screen and (max-width: 767.9px) {
            height: 48px;
            font-size: 18px;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;

          .input-stack {
            row-gap: 16px;

            .form-label {
              font-size: 14px;
              line-height: 20px;
              font-weight: 400;
              color: var(--info);
              margin-bottom: 0.375rem;
            }

            .form-control-lg {
              font-size: 16px;
              color: var(--foreground);
              min-height: 44px;
              padding: 8px 14px;
            }
          }
        }
      }
    }
  }
}

/*-------------- MODAL --------------*/

/*-------------- APP BUTTON --------------*/
.app-icon-btn {
  // min-height: 3.125rem;
  // min-width: 3.125rem;
  // height: 3.125rem;
  // width: 3.125rem;
  // padding: 0.5rem;
  border-radius: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border: none;
  padding: 0px !important;
  margin-right: 8px;
  background-color: transparent;
  border: none;

  .btn-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.app-insta-btn {
  background: linear-gradient(45deg,
      #faad4f 14.61%,
      #dd2a7b 39.38%,
      #9537b0 58.49%,
      #515bd4 85.39%);
}

.app-btn {
  height: 3.875rem;
  min-width: 244px;
  border-radius: 31px;
  font-size: 1.75rem;
  line-height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.675rem;
  font-weight: 500;

  .app-btn-icon {
    height: auto;
    width: 1.75rem;
    object-fit: contain;
  }

  @media screen and (max-width: 768px) {
    min-width: 200px;
  }
}

.btn-success {
  background-color: var(--success-dark);
  border-color: var(--success-dark);
}

.multi-select-btn {
  font-size: 1.875rem;
  border-radius: 0.75rem;
  color: #000;
  border: 1px solid #cacaca;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  width: max-content;
  min-width: auto;
}

/*-------------- APP BUTTON --------------*/
/*-------------- SLICK SLIDER --------------*/
// .slick-list {
//   overflow: visible; // This allows partial slides to be visible
// }

// .slick-track {
//   left: 19%;

//   @media screen and (max-width: 991px) {
//     left: 31%;
//   }

//   @media screen and (max-width: 767.9px) {
//     left: 32%;
//   }

//   @media screen and (max-width: 480px) {
//     left: 0;
//   }
// }

.slick-arrow {
  top: auto;
  bottom: -80px;
  right: 0;
  height: 54px;
  width: 54px;
  z-index: 2;

  @media screen and (max-width: 767.9px) {
    height: 44px;
    width: 44px;
  }
}

.slick-prev {
  right: 80px;
  left: auto;

  @media screen and (max-width: 767.9px) {
    right: 60px;
  }

  &::before {
    font-size: 44px;
    color: var(--success-dark);

    @media screen and (max-width: 767.9px) {
      font-size: 34px;
    }
  }
}

.slick-next {
  right: 10px;

  &::before {
    font-size: 44px;
    color: var(--success-dark);

    @media screen and (max-width: 767.9px) {
      font-size: 34px;
    }
  }
}

.slick-dots {
  li {
    width: 10px;
    height: 10px;
  }

  li.slick-active button:before {
    opacity: 1;
    color: var(--success-dark);
  }
}

/*-------------- SLICK SLIDER --------------*/

/*-------------- Full screen loader --------------*/

.loader-wrapper {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  min-height: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgba(0, 0, 0, 0.5); 
  z-index: 9999;
}